@model Paciente
@{
    ViewData["Title"] = "Paciente";
}
<h1>@ViewData["Title"]</h1>

@if (Model != null){
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Edad</td>
                <td>Telefono</td>
                <td>Ultima visita</td>
                <td>Proxima visita</td>
                <td>Diagnostico</td>
                <td>Editar</td>
            </tr>
        </thead>        
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Age</td>
                <td>@Model.Tel</td>
                <td>@Model.LastConsult</td>
                <td>@Model.ProxConsult</td>
                <td>@Model.Diagnostico</td>
            <td>@using(Html.BeginForm("EditarDiagnostico","Paciente",FormMethod.Post,new {enctype = "multipart/form-data" }))
                {
                    <input type="submit" value="Editar diagnostico">
                }</td>
        </tr>       
    </table>    
}

