@model Paciente
@{
    ViewData["Title"] = "Paciente";
}
<h1>@ViewData["Title"]</h1>

@if (Model != null){
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Edad</td>
                <td>Telefono</td>
                <td>Ultima visita</td>
                <td>Diagnostico</td>
            </tr>
        </thead>        
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Age</td>
                <td>@Model.Tel</td>
                <td>@Model.LastConsult</td>
                <td>@Model.Diagnostico</td>
            </tr>       
    </table>
}